<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h4>You can click help but can't get any. B****!</h4>
        <img class="portrait" src="/img/help.jpg">
    </div>
    {{>footer}}
</body>

</html>